In [2]:
import requests
import pandas as pd

In [3]:
movie_ids = [0, 299534, 19995, 140607, 299536, 597, 135397,
420818, 24428, 168259, 99861, 284054, 12445,
181808, 330457, 351286, 109445, 321612, 260513]

In [ ]:
api_key = 'fc67bc86d72331280543a2761748f0e6'
url = "https://api.themoviedb.org/3/movie/{}?api_key={}" #Placeholders for the movie id and api key

movie_data = []
for movie_id in movie_ids:
    response = requests.get(url.format(movie_id, api_key))
    if response.status_code == 200:
        movie_data.append(response.json())
    else:
        print(f"Failed to fetch data for ID: {movie_id}: {response.status_code}, {response.json()}")

Failed to fetch data for ID: 0: 404, {'success': False, 'status_code': 6, 'status_message': 'Invalid id: The pre-requisite id is invalid or not found.'}

In [5]:
data = pd.DataFrame(movie_data)
data.to_csv("raw_movie_data.csv", index=False)

In [6]:
data.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,[US],en,...,2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26197
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,[US],en,...,2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.600,32098
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,[US],en,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.262,19661
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,[US],en,...,2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,30378
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",https://www.paramountmovies.com/movies/titanic,597,tt0120338,[US],en,...,1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.900,25859

In [7]:
data.drop(columns=['adult', 'imdb_id', 'original_title', 'video', 'homepage'], inplace=True)

In [8]:
data.shape
print(f"Total number of rows: {data.shape[0]}. Total number of columns: {data.shape[1]}")

Total number of rows: 18. Total number of columns: 21

In [9]:
data.head()

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",299534,[US],en,After the devastating events of Avengers: Infi...,22.9880,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,8.238,26197
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",19995,[US],en,"In the 22nd century, a paraplegic Marine is di...",33.4483,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,7.600,32098
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",140607,[US],en,Thirty years after defeating the Galactic Empi...,12.2948,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,7.262,19661
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",299536,[US],en,As the Avengers and their allies have continue...,37.7059,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,30378
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",597,[US],en,101-year-old Rose DeWitt Bukater tells the sto...,33.2848,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,7.900,25859

In [ ]:
# columns = ['belongs_to_collection', 'genres', 'production_countries','production_companies', 'spoken_languages'] 
    
def clean_data_point_list(col):
    if isinstance(col, list):
        names = []
        for item in col:
            names.append(item['name'])
        return '|'.join(names)
    

def clean_data_point_dict(data):
    if pd.notna and isinstance(data, dict):
        return data.get('name')
    return None


#List columns
data['genres'] = data['genres'].apply(clean_data_point_list)
data['production_countries'] = data['production_countries'].apply(clean_data_point_list)
data['production_companies'] = data['production_companies'].apply(clean_data_point_list)
data['spoken_languages'] = data['spoken_languages'].apply(clean_data_point_list)

#Dictionary columns
data['belongs_to_collection'] = data['belongs_to_collection'].apply(clean_data_point_dict)

#Origin country
data['origin_country'] = data['origin_country'].apply(lambda x: x[0] if isinstance(x, list) and x else x )

In [ ]:
#Origin country contains [US] and [GB]
data['origin_country'] = data['origin_country'].apply(lambda x: x[0] if isinstance(x, list) and x else x )

In [37]:
data.head()

,backdrop_path,belongs_to_collection,budget,genres,id,origin_country,original_language,overview,popularity,poster_path,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,The Avengers Collection,356000000,Action|Adventure|Science Fiction,299534,US,en,After the devastating events of Avengers: Infi...,22.9880,/ulzhLuWrPK07P1YkdWQLZnQh1JL.jpg,...,United States of America,2019-04-24,2799439100,181,English|日本語|,Released,Avenge the fallen.,Avengers: Endgame,8.238,26197
1,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,Avatar Collection,237000000,Action|Adventure|Fantasy|Science Fiction,19995,US,en,"In the 22nd century, a paraplegic Marine is di...",33.4483,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,...,United States of America|United Kingdom,2009-12-15,2923706026,162,English|Español,Released,Enter the world of Pandora.,Avatar,7.600,32098
2,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,Star Wars Collection,245000000,Action|Adventure|Science Fiction,140607,US,en,Thirty years after defeating the Galactic Empi...,12.2948,/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg,...,United States of America,2015-12-15,2068223624,136,English,Released,Every generation has a story.,Star Wars: The Force Awakens,7.262,19661
3,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,The Avengers Collection,300000000,Action|Adventure|Science Fiction,299536,US,en,As the Avengers and their allies have continue...,37.7059,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,...,United States of America,2018-04-25,2052415039,149,English|,Released,Destiny arrives all the same.,Avengers: Infinity War,8.236,30378
4,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,None,200000000,Drama|Romance,597,US,en,101-year-old Rose DeWitt Bukater tells the sto...,33.2848,/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg,...,United States of America,1997-11-18,2264162353,194,English|Français|Deutsch|svenska|Italiano|Pусский,Released,Nothing on Earth could come between them.,Titanic,7.900,25859

In [12]:
extracted_columns = ['belongs_to_collection', 'genres', 'production_countries','production_companies', 'spoken_languages']

for col in extracted_columns:
    print('***********************************************************************')
    print(data[col].value_counts())

***********************************************************************
belongs_to_collection
The Avengers Collection                4
Star Wars Collection                   2
Jurassic Park Collection               2
Frozen Collection                      2
Avatar Collection                      1
The Lion King (Reboot) Collection      1
The Fast and the Furious Collection    1
Black Panther Collection               1
Harry Potter Collection                1
The Incredibles Collection             1
Name: count, dtype: int64
***********************************************************************
genres
Adventure|Action|Science Fiction             3
Action|Adventure|Science Fiction|Thriller    2
Action|Adventure|Science Fiction             2
Adventure|Science Fiction|Action             1
Action|Adventure|Fantasy|Science Fiction     1
Drama|Romance                                1
Adventure|Drama|Family|Animation             1
Science Fiction|Action|Adventure             1
Action|Thriller|Crime                        1
Fantasy|Adventure                            1
Family|Animation|Adventure|Comedy|Fantasy    1
Animation|Family|Adventure|Fantasy           1
Family|Fantasy|Romance                       1
Action|Adventure|Animation|Family            1
Name: count, dtype: int64
***********************************************************************
production_countries
United States of America                   16
United States of America|United Kingdom     1
United Kingdom|United States of America     1
Name: count, dtype: int64
***********************************************************************
production_companies
Marvel Studios                                                                  5
Amblin Entertainment|Universal Pictures                                         2
Walt Disney Pictures|Walt Disney Animation Studios                              2
Dune Entertainment|Lightstorm Entertainment|20th Century Fox|Ingenious Media    1
Lucasfilm Ltd.|Bad Robot                                                        1
Paramount Pictures|20th Century Fox|Lightstorm Entertainment                    1
Walt Disney Pictures|Fairview Entertainment                                     1
Original Film|One Race|Universal Pictures                                       1
Warner Bros. Pictures|Heyday Films                                              1
Lucasfilm Ltd.                                                                  1
Walt Disney Pictures|Mandeville Films                                           1
Walt Disney Pictures|Pixar                                                      1
Name: count, dtype: int64
***********************************************************************
spoken_languages
English                                              9
English|日本語|                                         1
English|Español                                      1
English|                                             1
English|Français|Deutsch|svenska|Italiano|Pусский    1
English|हिन्दी|Pусский                               1
العربية|English|Español|ภาษาไทย                      1
English|한국어/조선말|Kiswahili|                           1
English|Pусский                                      1
English|Français                                     1
Name: count, dtype: int64

In [13]:
# Noticed that the genres and production countries Columns had some values 
# that can be one but due to positioning its seen a different value

data['genres'] = data['genres'].replace('Adventure|Science Fiction|Action', 'Action|Adventure|Science Fiction')
data['genres'] = data['genres'].replace('Adventure|Action|Science Fiction', 'Action|Adventure|Science Fiction')

data['production_countries'] = data['production_countries'].replace('United Kingdom|United States of America', 'United States of America|United Kingdom')

In [14]:
data['production_countries'].value_counts()

production_countries
United States of America                   16
United States of America|United Kingdom     2
Name: count, dtype: int64

In [15]:
data['genres'].value_counts()

genres
Action|Adventure|Science Fiction             6
Action|Adventure|Science Fiction|Thriller    2
Action|Adventure|Fantasy|Science Fiction     1
Drama|Romance                                1
Adventure|Drama|Family|Animation             1
Science Fiction|Action|Adventure             1
Action|Thriller|Crime                        1
Fantasy|Adventure                            1
Family|Animation|Adventure|Comedy|Fantasy    1
Animation|Family|Adventure|Fantasy           1
Family|Fantasy|Romance                       1
Action|Adventure|Animation|Family            1
Name: count, dtype: int64

### Handling Missing and Incorrect Data

In [17]:
data.dtypes

backdrop_path             object
belongs_to_collection     object
budget                     int64
genres                    object
id                         int64
origin_country            object
original_language         object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                    int64
spoken_languages          object
status                    object
tagline                   object
title                     object
vote_average             float64
vote_count                 int64
dtype: object

In [26]:
data['budget'] = pd.to_numeric(data['budget'])
data['revenue'] = pd.to_numeric(data['revenue'])
data['id'] = pd.to_numeric(data['id'])
data['popularity'] = pd.to_numeric(data['popularity'])
data['release_date'] = pd.to_datetime(data['release_date'])

In [25]:
data.dtypes

backdrop_path                    object
belongs_to_collection            object
budget                            int64
genres                           object
id                                int64
origin_country                   object
original_language                object
overview                         object
popularity                      float64
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                           int64
runtime                           int64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                        int64
dtype: object

### Replacing unrealist values

Empty DataFrame
Columns: [backdrop_path, belongs_to_collection, budget, genres, id, origin_country, original_language, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

[0 rows x 21 columns]

#### In this data there were no 0s

In [42]:
data['budget'].replace(0, pd.NA, inplace=True)
data['revenue'].replace(0, pd.NA, inplace=True)
data['runtime'].replace(0, pd.NA, inplace=True)

#### Revenue and Budget to millions

In [46]:
data['budget_millions'] = data['budget'] / 1e6
data['revenue_millions'] = data['revenue'] / 1e6

In [48]:
data['budget_millions']

0     356.0
1     237.0
2     245.0
3     300.0
4     200.0
5     150.0
6     260.0
7     220.0
8     190.0
9     365.0
10    200.0
11    125.0
12    200.0
13    150.0
14    170.0
15    150.0
16    160.0
17    200.0
Name: budget_millions, dtype: float64

In [ ]:
#There were no zeros in vote_count column
data['vote_count'].value_counts()

vote_count
26197    1
32098    1
15581    1
16777    1
12001    1
9866     1
15527    1
20932    1
22485    1
23340    1
10758    1
31497    1
10298    1
20620    1
25859    1
30378    1
19661    1
13020    1
Name: count, dtype: int64

### 'overview' and 'tagline' did not have nulls or indications of no data

In [53]:
data['overview']

0     After the devastating events of Avengers: Infi...
1     In the 22nd century, a paraplegic Marine is di...
2     Thirty years after defeating the Galactic Empi...
3     As the Avengers and their allies have continue...
4     101-year-old Rose DeWitt Bukater tells the sto...
5     Twenty-two years after the events of Jurassic ...
6     Simba idolizes his father, King Mufasa, and ta...
7     When an unexpected enemy emerges and threatens...
8     Deckard Shaw seeks revenge against Dominic Tor...
9     When Tony Stark tries to jumpstart a dormant p...
10    King T'Challa returns home to the reclusive, t...
11    Harry, Ron and Hermione continue their quest t...
12    Rey develops her newly discovered abilities wi...
13    Elsa, Anna, Kristoff and Olaf head far into th...
14    Three years after Jurassic World was destroyed...
15    Young princess Anna of Arendelle dreams about ...
16    A live-action adaptation of Disney's version o...
17    Elastigirl springs into action to save the day...
Name: overview, dtype: object

In [54]:
data['tagline']

0                                    Avenge the fallen.
1                           Enter the world of Pandora.
2                         Every generation has a story.
3                         Destiny arrives all the same.
4             Nothing on Earth could come between them.
5                                     The park is open.
6                                The king has returned.
7                               Some assembly required.
8                                  Vengeance hits home.
9                                   A new age has come.
10                                  Long live the king.
11                                         It all ends.
12               Darkness rises...and light to meet it.
13                       The past is not what it seems.
14                                    The park is gone.
15    Only the act of true love will thaw a frozen h...
16                                        Be our guest.
17                        It's been too long, dahlings.
Name: tagline, dtype: object