## 1. Initialize Spark Session

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import requests
import os
from dotenv import load_dotenv

In [15]:
# Configure Spark with increased memory

spark = SparkSession.builder.appName("TMDB analysis").getOrCreate()

## 2. Data Fetching (Adapted for Spark)

In [19]:
def fetch_movie_data_spark(movie_ids):
    """Fetch data and return as Spark DataFrame"""
    load_dotenv()
    api_key = os.getenv('api_key')
    if not api_key:
        raise ValueError("API_KEY environment variable not set")
    
    base_url = "https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits"
    
    # Fetch data using Python requests (single-node operation)
    movies = []
    for mid in movie_ids:
        try:
            response = requests.get(base_url.format(mid, api_key), timeout=5)
            movies.append(response.json())
        except Exception as e:
            print(f"Failed to fetch movie {mid}: {e}, {response.status_code}, {response.json()}")
    
    # Convert to Spark DataFrame
    return spark.createDataFrame(movies)

movie_ids = [0, 299534, 19995, 140607, 299536, 597, 135397, 
             420818, 24428, 168259, 99861, 284054, 12445,
             181808, 330457, 351286, 109445, 321612, 260513]

raw_df = fetch_movie_data_spark(movie_ids)
raw_df.cache()  # Cache for multiple operations
print(f"Fetched {raw_df.count()} movies")

Fetched 19 movies

In [17]:
raw_df.show()

+-----------+--------------------+-------+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|status_code|      status_message|success|adult|       backdrop_path|belongs_to_collection|   budget|             credits|              genres|            homepage|    id|  imdb_id|origin_country|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|release_date|   revenue|runtime|    spoken_languages|  status|             tagline|               title|video|vote_average|vote_count|
+-----------+--------------------+-------+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+
|         34|The resource you ...|  false| NULL|                NULL|                 NULL|     NULL|                NULL|                NULL|                NULL|  NULL|     NULL|          NULL|             NULL|                NULL|                NULL|      NULL|                NULL|                NULL|                NULL|        NULL|      NULL|   NULL|                NULL|    NULL|                NULL|                NULL| NULL|        NULL|      NULL|
|       NULL|                NULL|   NULL|false|/7RyHsO4yDXtBv1zU...| {backdrop_path ->...|356000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.marve...|299534|tt4154796|          [US]|               en|   Avengers: Endgame|After the devasta...|   31.4799|/ulzhLuWrPK07P1Yk...|[{name -> NULL, i...|[{name -> United ...|  2019-04-24|2799439100|    181|[{name -> English...|Released|  Avenge the fallen.|   Avengers: Endgame|false|       8.237|     26244|
|       NULL|                NULL|   NULL|false|/vL5LR6WdxWPjLPFR...| {backdrop_path ->...|237000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.avata...| 19995|tt0499549|          [US]|               en|              Avatar|In the 22nd centu...|    30.968|/kyeqWdyUXW608qlY...|[{name -> NULL, i...|[{name -> United ...|  2009-12-15|2923706026|    162|[{name -> English...|Released|Enter the world o...|              Avatar|false|       7.588|     32157|
|       NULL|                NULL|   NULL|false|/k6EOrckWFuz7I4z4...| {backdrop_path ->...|245000000|{cast -> [{cast_i...|[{name -> NULL, i...|http://www.starwa...|140607|tt2488496|          [US]|               en|Star Wars: The Fo...|Thirty years afte...|   17.8913|/wqnLdwVXoBjKibFR...|[{name -> NULL, i...|[{name -> United ...|  2015-12-15|2068223624|    136|[{name -> English...|Released|Every generation ...|Star Wars: The Fo...|false|       7.261|     19689|
|       NULL|                NULL|   NULL|false|/mDfJG3LC3Dqb67AZ...| {backdrop_path ->...|300000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.marve...|299536|tt4154756|          [US]|               en|Avengers: Infinit...|As the Avengers a...|   76.4397|/7WsyChQLEftFiDOV...|[{name -> NULL, i...|[{name -> United ...|  2018-04-25|2052415039|    149|[{name -> English...|Released|Destiny arrives a...|Avengers: Infinit...|false|       8.235|     30424|
|       NULL|                NULL|   NULL|false|/sCzcYW9h55WcesOq...|                 NULL|200000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.param...|   597|tt0120338|          [US]|               en|             Titanic|101-year-old Rose...|   49.1281|/9xjZS2rlVxm8SFx8...|[{name -> NULL, i...|[{name -> United ...|  1997-11-18|2264162353|    194|[{name -> English...|Released|Nothing on Earth ...|             Titanic|false|       7.906|     25906|
|       NULL|                NULL|   NULL|false|/aIGIYJTyOkEVUmEd...| {backdrop_path ->...|150000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.juras...|135397|tt0369610|          [US]|               en|      Jurassic World|Twenty-two years ...|    22.183|/rhr4y79GpxQF9Isf...|[{name -> NULL, i...|[{name -> United ...|  2015-06-06|1671537444|    124|[{name -> English...|Released|   The park is open.|      Jurassic World|false|       6.693|     20648|
|       NULL|                NULL|   NULL|false|/1TUg5pO1VZ4B0Q1a...| {backdrop_path ->...|260000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://movies.di...|420818|tt6105098|          [US]|               en|       The Lion King|Simba idolizes hi...|   33.2421|/dzBtMocZuJbjLOXv...|[{name -> NULL, i...|[{name -> United ...|  2019-07-12|1662020819|    118|[{name -> English...|Released|The king has retu...|       The Lion King|false|        7.11|     10316|
|       NULL|                NULL|   NULL|false|/9BBTo63ANSmhC4e6...| {backdrop_path ->...|220000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.marve...| 24428|tt0848228|          [US]|               en|        The Avengers|When an unexpecte...|   47.1023|/RYMX2wcKCBAr24Uy...|[{name -> NULL, i...|[{name -> United ...|  2012-04-25|1518815515|    143|[{name -> English...|Released|Some assembly req...|        The Avengers|false|       7.739|     31606|
|       NULL|                NULL|   NULL|false|/cHkhb5A4gQRK6zs6...| {backdrop_path ->...|190000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.uphe....|168259|tt2820852|          [US]|               en|           Furious 7|Deckard Shaw seek...|   17.4112|/wurKlC3VKUgcfsn0...|[{name -> NULL, i...|[{name -> United ...|  2015-04-01|1515400000|    137|[{name -> العربية...|Released|Vengeance hits home.|           Furious 7|false|       7.225|     10773|
|       NULL|                NULL|   NULL|false|/6YwkGolwdOMNpbTO...| {backdrop_path ->...|365000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.marve...| 99861|tt2395427|          [US]|               en|Avengers: Age of ...|When Tony Stark t...|   22.5457|/4ssDuvEDkSArWEdy...|[{name -> NULL, i...|[{name -> United ...|  2015-04-22|1405403694|    141|[{name -> English...|Released| A new age has come.|Avengers: Age of ...|false|       7.271|     23366|
|       NULL|                NULL|   NULL|false|/b6ZJZHUdMEFECvGi...| {backdrop_path ->...|200000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.marve...|284054|tt1825683|          [US]|               en|       Black Panther|King T'Challa ret...|   27.3326|/uxzzxijgPIY7slzF...|[{name -> NULL, i...|[{name -> United ...|  2018-02-13|1349926083|    135|[{name -> English...|Released| Long live the king.|       Black Panther|false|       7.373|     22505|
|       NULL|                NULL|   NULL|false|/n5A7brJCjejceZmH...| {backdrop_path ->...|125000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.warne...| 12445|tt1201607|          [GB]|               en|Harry Potter and ...|Harry, Ron and He...|   23.3456|/c54HpQmuwXjHq2C9...|[{name -> NULL, i...|[{name -> United ...|  2011-07-12|1341511219|    130|[{name -> English...|Released|        It all ends.|Harry Potter and ...|false|       8.087|     20966|
|       NULL|                NULL|   NULL|false|/5Iw7zQTHVRBOYpA0...| {backdrop_path ->...|200000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.starw...|181808|tt2527336|          [US]|               en|Star Wars: The La...|Rey develops her ...|    22.373|/kOVEVeg59E0wsnXm...|[{name -> NULL, i...|[{name -> United ...|  2017-12-13|1332698830|    152|[{name -> English...|Released|Darkness rises......|Star Wars: The La...|false|       6.779|     15550|
|       NULL|                NULL|   NULL|false|/AoSZyb37ljMAxw0R...| {backdrop_path ->...|150000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://movies.di...|330457|tt4520988|          [US]|               en|           Frozen II|Elsa, Anna, Krist...|   17.3078|/mINJaa34MtknCYl5...|[{name -> NULL, i...|[{name -> United ...|  2019-11-20|1453683476|    103|[{name -> English...|Released|The past is not w...|           Frozen II|false|        7.25|      9879|
|       NULL|                NULL|   NULL|false|/6WA9stUMbIkEPxn3...| {backdrop_path ->...|170000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://www.uphe....|351286|tt4881806|          [US]|               en|Jurassic World: F...|Three years after...|   26.5089|/270MrJNqJovumHXG...|[{name -> NULL, i...|[{name -> United ...|  2018-06-06|1310466296|    129|[{name -> English...|Released|   The park is gone.|Jurassic World: F...|false|       6.537|     12019|
|       NULL|                NULL|   NULL|false|/u2bZhH3nTf0So0UI...| {backdrop_path ->...|150000000|{cast -> [{cast_i...|[{name -> NULL, i...|http://movies.dis...|109445|tt2294629|          [US]|               en|              Frozen|Young princess An...|   23.6874|/m4uhSpErBKprhscl...|[{name -> NULL, i...|[{name -> United ...|  2013-11-20|1274219009|    102|[{name -> English...|Released|Only the act of t...|              Frozen|false|       7.247|     16807|
|       NULL|                NULL|   NULL|false|/uU1Mt4JWhDvl4vKb...|                 NULL|160000000|{cast -> [{cast_i...|[{name -> NULL, i...|http://movies.dis...|321612|tt2771200|          [US]|               en|Beauty and the Beast|A live-action ada...|   34.6863|/hKegSKIDep2ewJWP...|[{name -> NULL, i...|[{name -> United ...|  2017-03-16|1266115964|    129|[{name -> English...|Released|       Be our guest.|Beauty and the Beast|false|       6.971|     15594|
|       NULL|                NULL|   NULL|false|/mabuNsGJgRuCTuGq...| {backdrop_path ->...|200000000|{cast -> [{cast_i...|[{name -> NULL, i...|https://movies.di...|260513|tt3606756|          [US]|               en|       Incredibles 2|Elastigirl spring...|    10.063|/9lFKBtaVIhP7E2Pk...|[{name -> NULL, i...|[{name -> United ...|  2018-06-14|1242805359|    118|[{name -> English...|Released|It's been too lon...|       Incredibles 2|false|       7.454|     13032|
+-----------+--------------------+-------+-----+--------------------+---------------------+---------+--------------------+--------------------+--------------------+------+---------+--------------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+-----+------------+----------+

In [18]:
raw_df.select('title').show()

+--------------------+
|               title|
+--------------------+
|                NULL|
|   Avengers: Endgame|
|              Avatar|
|Star Wars: The Fo...|
|Avengers: Infinit...|
|             Titanic|
|      Jurassic World|
|       The Lion King|
|        The Avengers|
|           Furious 7|
|Avengers: Age of ...|
|       Black Panther|
|Harry Potter and ...|
|Star Wars: The La...|
|           Frozen II|
|Jurassic World: F...|
|              Frozen|
|Beauty and the Beast|
|       Incredibles 2|
+--------------------+